// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


body {
    background: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.map-container {

    height: 51em;
    width: 51em;
    margin: 1em auto;
    border: 1px solid transparent;
    position: relative;

    & .map-piece {
        height: 5em;
        width: 5em;
        background: red;
        border: 1px solid #ccc;
        float: left;
    }
}

.hero {
    position: absolute;
    -webkit-transform: matrix(0,0,0,0);
    height: 5em;
    width: 5em;
    background: url('../images/whitemageF.gif') center no-repeat;
    transition: all .4s linear;

}
